@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");

:root {
  /* Fontes */
  --font-outfit: "Outfit", sans-serif;
  --font-young-serif: "Young Serif", serif;

  /* Cores */
  --White: hsl(0, 0%, 100%);
  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);
  --Brown-800: hsl(14, 45%, 36%);
  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

img {
  max-width: 100%;
}

h1,
h2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
}

h2 {
  color: var(--Brown-800);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 3rem;
  background: var(--Stone-100);
  font-family: "Outfit", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  width: 44.6rem;
  height: auto;
  padding: 2rem;
  border-radius: 1rem;
  background: var(--White);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.banner img {
  border-radius: 1rem;
  margin: 0 0 1rem 0;
}

/* HERO */

.hero h1 {
  font-size: 2.3rem;
  color: var(--Stone-900);
}

.hero p {
  font-family: var(--font-outfit);
  color: var(--Stone-600);
  font-weight: 400;
  margin: 1rem 0;
}

.preparation {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 0.875rem;
  background: var(--Rose-50);
  margin: 1.5rem 0;
}

.preparation h3 {
  font-family: var(--font-outfit);
  font-weight: 600;
  color: var(--Rose-800);
}

.preparation .prep-list {
  color: var(--Rose-800);
  margin-left: 1.5rem;
  font-size: 1rem;
}

.prep-list li + li {
  margin-top: 1rem;
}

.prep-list li p {
  margin-left: 0.875rem;
}

/* MAIN CONTENT */

/* INGREDIENTS */

main section {
  margin-bottom: 1;
  border-bottom: 1px solid var(--Stone-100);
}

main section:last-child {
  border-bottom: none;
}

.ingredients .ingre-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--Stone-600);
  font-weight: 400;
  padding: 1rem;
  margin-left: 0.475rem;
}

.ingre-list p {
  margin-left: 1rem;
}

/* INSTRUCTIONS */
.instructions {
  margin-top: 1rem;
}
.instructions .instru-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  color: var(--Brown-800);
  font-weight: 600;
}

.instru-list p {
  color: var(--Stone-600);
  font-weight: 400;
  margin-left: 1rem;
}

/* Nutrition */
.nutrition {
  margin-top: 1rem;
}

.nutrition p {
  font-weight: 400;
  margin: 1rem 0;
  color: var(--Stone-600);
}

.nutri-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.nutri-list li {
  padding: .475rem 0;
  display: flex;
  border-bottom: 1px solid var(--Stone-100);
}

.nutri-list li:last-child {
  border-bottom: none;
}

.nutri-list li h3 {
  font-weight: 400;
  font-size: 1rem;
  width: 50%;
  margin-left: 1rem;
  color: var(--Stone-600);
}

.nutri-list span {
  font-weight: 600;
  color: var(--Brown-800);
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0;
  }

  .banner img {
    border-radius: 0;
    width: 100%;
    margin: 0;
  }

  .hero h1 {
    margin-top: 1.5rem;
    margin-left: 1rem;
    font-size: 2rem;
  }

  .hero p {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .preparation {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .content {
    padding: 0 2rem;
  }
  
}

@media (max-width: 450px) {
  .hero h1 {
    font-size: 1.5rem;
  }
}